<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}

  <!-- Otomatik Dil Yönlendirme Betiği -->
  <script>
  document.addEventListener("DOMContentLoaded", function() {
      var savedLang = localStorage.getItem('preferredLang');

      if (!savedLang) {
          var userLang = (navigator.language || navigator.userLanguage).toLowerCase();
          var baseLang = userLang.split('-')[0];

          var alternateLinks = document.querySelectorAll('link[rel="alternate"][hreflang]');
          var targetUrl = null;
          var matchedLang = null;

          for (var i = 0; i < alternateLinks.length; i++) {
              var linkLang = alternateLinks[i].getAttribute('hreflang').toLowerCase();
              if (linkLang === userLang) {
                  targetUrl = alternateLinks[i].getAttribute('href');
                  matchedLang = linkLang;
                  break;
              }
          }

          if (!targetUrl) {
              for (var i = 0; i < alternateLinks.length; i++) {
                  var linkLang = alternateLinks[i].getAttribute('hreflang').toLowerCase();
                  if (linkLang.split('-')[0] === baseLang) {
                      targetUrl = alternateLinks[i].getAttribute('href');
                      matchedLang = linkLang;
                      break;
                  }
              }
          }

          if (targetUrl && window.location.href !== targetUrl) {
              localStorage.setItem('preferredLang', matchedLang);
              window.location.replace(targetUrl);
          } else {
              var currentLang = (document.documentElement.lang || 'en').toLowerCase();
              localStorage.setItem('preferredLang', currentLang);
          }
      }

      var langSwitchers = document.querySelectorAll('a[hreflang]'); 
      
      langSwitchers.forEach(function(link) {
          link.addEventListener('click', function() {
              var selectedLang = this.getAttribute('hreflang');
              if (selectedLang) {
                  localStorage.setItem('preferredLang', selectedLang.toLowerCase());
              }
          });
      });
  });
  </script>
</head>
